* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    /* font-weight: 3
    00; */
    font-style: normal;
  }
  

header {
    /* border: 2px solid black; */
    height: 10vh;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

header ul {
    /* border: 2px solid black; */
    position: relative;
    left: -4vw;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header ul li {
    list-style: none;
    margin: 0px 30px;

}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

header a:hover {
    color: black;
    text-decoration: underline;
}

.header_logo {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_logo img {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.header_logo h3 {
    color: white;
    font-family: "Anta", sans-serif;
}

.header_icons {
    display: flex;
}

.header_icons a {
    margin-left: 0.5vw;
    color: white;
    text-decoration: none;

}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    height: 40vh;
    width: 100%;
}


.hero_img {

    position: relative;
    height: 40vh;
    width: 70%;

    background-size: 100% 100%;
    animation: slider 20s infinite ease-in-out;

}

@keyframes slider {
    0% {
        background-image: url(hero.png);
        background-size: cover;
        background-position: center;
    }

    20% {
        background-image: url(hero3.png);
        background-size: cover;
        background-position: center;
    }

    25% {
        background-image: url(hero2.png);
        background-size: cover;
        background-position: center;
    }

    45% {
        background-image: url(hero3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(slide1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    70% {
        background-image: url(slide14.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    75% {
        background-image: url(slide5.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    95% {
        background-image: url(slide10.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(slide9.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.slider {
    background-color: #000;
    /* or any other color you prefer */
    animation: slider 10s infinite;
    /* adjust the animation duration and iteration count as needed */
}

.sec2 h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2vh 0vw;
    color: rgb(193, 20, 20);
    font-weight: 500;
    text-decoration: underline;
    font-family: "Bebas Neue", sans-serif;    /* font-family: "Anta", sans-serif; */
    /* border: 2px solid black; */
}

.sec2 {
    align-items: center;
    background-color: thistle;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 12vh;
    width: 100%;
    margin: 0px 10px;
    background-color: gainsboro;
    /* border: 2px solid beige; */
}


.categories a {
    /* border: 2px solid black; */
    /* border-radius: 50px; */
    text-align: justify;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0px 20px;
    padding: 5px 8px;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    color: blue;
}

.categories a:hover {
    color: black;
}


.sec3 {
    /* border: 2px solid black; */
    background-color: burlywood;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sec3 img {
    height: 11rem;
    width: 10rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.image_slides {
    gap: 10px 20px;
    padding: 2vw 2vw;
    margin: 0vw 2vw;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
}

.sec4 {
    /* border: 2px solid black; */
    height: 95vh;
    width: 100%;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sec4 h1 {
    position: relative;
    animation: move 10s infinite;
}

@keyframes move {
    0% {
        transform: translateX(25vw);
    }
    50% {
        transform: translateX(-25vw);
    }
    100% {
        transform: translateX(25vw);
    }
}

.sec4 {
    overflow: hidden;
}

.payment_form {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 20vh;
    align-items: center;
    font-size: 1.5rem;

}

.payment_form input {
    font-size: 1rem;
    margin: 10px 0px;
}

.sec4 img {
    height: 38vh;
    width: 16vw;
    background-size: 100% 100%;
}

.sec4 h1 {
    position: relative;
    top: -6vh;
    /* text-align: center; */
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.sec4 p {
    font-size: 2rem;
    font-weight: 600;

}

.sec5 {
    border: 2px solid aquamarine;
    height: 75vh;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.sec5 h2 {
    text-align: center;
    margin-top: 2vh;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.forms {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 60vh;
    /* border: 2px solid black; */
    font-size: 1.5rem;
    margin: 5vh 0vw;
}

.forms input {
    font-size: 1.4rem;
    margin: 1.5vh 0vw;

}

.form_done {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}

footer {
    /* border: 2px solid black; */
    height: 50vh;
    width: 100%;
    background-color: rgb(95, 58, 58);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

.f_logo {
    display: flex;
    align-items: center;
    color: white;
    /* justify-content: space-evenly; */
}

.f_logo img {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.f1 {
    /* border: 2px solid yellow; */
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.social {
    display: flex;
    justify-content: space-between;
}

.social img {
    height: 40px;
    width: 40px;


}

.f {
    /* border: 2px solid yellow; */
    width: 20vw;
    height: 40vh;
    color: white;
}

.f p {
    text-align: justify;
    margin-top: 2vh;
}

.f h2 {
    text-align: center;
}

.copyright {
    height: 3vh;
    color: white;
    background-color: rgb(95, 58, 58);

}

.copyright p {
    text-align: center;
}